<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink='/producto/home' routerLinkActive="router-link-active"><mat-icon>shopping_bag</mat-icon> Producto</a>
          </li>
          <li *ngIf="logged" class="nav-item">
            <a class="nav-link pointer" (click)="abrirCarro(content)"><mat-icon>shopping_cart_checkout</mat-icon><span class="navTitle">Carro</span></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
<ng-template #content let-offcanvas>
    <app-carro-producto [productoCarro]="productoCarro" [offCanvas]="offCanvas"></app-carro-producto>
</ng-template>
<router-outlet />